<ion-content padding>
    <!--<div *ngIf="!requestDone">
        <ion-spinner></ion-spinner>
    </div>
    <div *ngIf="requestDone">
        <ion-list>
            <ion-list-header>
                Localiser
            </ion-list-header>
            <ion-item *ngFor="let student of students">
                <ion-toggle checked="{{student.id == authId}}" disabled="{{!student.longitude || !student.latitude}}"></ion-toggle>
                <ion-label>
                    {{ student.first_name }} {{ student.last_name }}
                </ion-label>
            </ion-item>
        </ion-list>-->
        <div #map id="map" data-tap-disabled="true"></div>
    <!--</div>-->
</ion-content>
