<ion-content padding>
    <div *ngIf="!requestDone">
        <ion-spinner></ion-spinner>
    </div>
    <div *ngIf="requestDone">
        <ion-list>
            <ion-item>
                <h2>Nom</h2>
                <p>{{ team.name }}</p>
            </ion-item>
            <ion-item *ngIf="isAdmin()">
                Validée
                <ion-icon *ngIf="team.validated" name="checkmark" color="success" item-end></ion-icon>
                <ion-icon *ngIf="!team.validated" name="close" color="danger" item-end></ion-icon>
            </ion-item>
            <ion-item>
                <h2>Description</h2>
                <p text-wrap>{{ team.description }}</p>
            </ion-item>
            <!--<ion-item>
                <h2>Points</h2>
                <p>{{ team.points }}</p>
            </ion-item>-->
            <button ion-button icon-only (click)="openFacebook(team.facebook)">
              <ion-icon name="logo-facebook"></ion-icon>
            </button>
        </ion-list>
        <ion-item-group>
            <ion-item-divider color="secondary">Chefs d'équipe ({{ team.ce.length }})</ion-item-divider>
            <ion-item *ngFor="let ce of team.ce" (click)="viewUser(ce.id)">
                <h2>{{ ce.first_name }} {{ ce.last_name }} {{ team.respo_id == ce.student_id ? "[respo]": "" }}</h2>
                <button ion-button clear item-end color="light">Voir</button>
            </ion-item>
        </ion-item-group>
        <ion-item-group *ngIf="isAdmin()">
            <ion-item-divider color="secondary">Nouveaux ({{ team.newcomers.length }})</ion-item-divider>
            <div *ngIf="isAdmin()" >
                <ion-item *ngFor="let newcomer of team.newcomers" (click)="viewUser(newcomer.id)">
                    <h2>{{ newcomer.first_name }} {{ newcomer.last_name }}</h2>
                    <button ion-button clear item-end color="light">Voir</button>
                </ion-item>
            </div>
        </ion-item-group>
    </div>
</ion-content>
