<ion-content padding>
    <div *ngIf="!requestDone">
        <ion-spinner></ion-spinner>
    </div>
    <div *ngIf="requestDone">
        <button ion-button large full type="button" color="secondary" (click)="startScanner()">Scanner</button>
        <button ion-button large full type="button" color="light" (click)="searchStudent()">Rechercher par nom</button>
        <h1>{{ checkin.name }}</h1>
        <ion-list *ngIf="checkin.users.length > 0">
            <ion-item *ngFor="let student of checkin.users" (click)="viewStudent(student.id)">
                <ion-icon
                    *ngIf="checkin.prefilled"
                    [name]="student.pivot.checked ? 'checkmark' : 'close'"
                    [color]="student.pivot.checked ? 'success' : 'danger'"
                    item-start
                    >
                </ion-icon>
                <h2>{{ student.first_name }} {{ student.last_name }}</h2>
                <button ion-button clear item-end color="light">Voir</button>
            </ion-item>
        </ion-list>
        <ion-item *ngIf="checkin.users.length == 0" class="event-item-p">
            Ce listing est vide. Cliquez sur "scanner" pour enregistrer des personnes, ou recherchez la avec son nom.
        </ion-item>
    </div>
</ion-content>
